* {
  background-color: black;
  text-align: center;
}

header .header {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  width: 100%;
}

.main-content p {
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}
